@font-face {
  font-family: 'BesasNeue';
  src: url('../fonts/BebasNeue/BebasNeue Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'HelveticaLT';
  src: url('../fonts/Helvetica/HelveticaLT.ttf') format('truetype');
}
.header {
  max-width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
@media screen and (max-width: 650px) {
  .header {
    min-width: 640px;
  }
}
.header__logo {
  margin: 34px 0 0 8px;
  text-decoration: none;
  box-sizing: border-box;
  width: 160px;
}
@media only screen and (max-width: 1000px) {
  .header__logo {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 800px) {
  .header__logo {
    margin-left: 0;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d0d0d0;
  }
}
.header__logo-title {
  font: 36.5px BesasNeue;
  font-weight: bold;
}
.header__navigation-menu {
  max-width: 1200px;
}
@media only screen and (max-width: 1200px) {
  .header__navigation-menu {
    margin-right: 100px;
  }
}
.header__navigation-menu-list {
  margin: 0 auto;
  display: flex;
  height: 76px;
}
@media screen and (max-width: 800px) {
  .header__navigation-menu-list {
    height: 35px;
  }
}
.header__navigation-menu-list-link {
  text-decoration: none;
  padding: 49px 13px 7px 12px;
  margin: 0 4px;
  display: block;
  color: #404040;
}
@media screen and (max-width: 800px) {
  .header__navigation-menu-list-link {
    margin: 0 20px;
    padding: 10px 20px;
  }
}
.header__navigation-menu-list-link_active {
  color: #ffffff;
  background-color: #d45e5e;
}
.header__navigation-menu-list-link_active:visited {
  color: #ffffff;
}
.header__navigation-menu-list-link_second {
  padding-left: 20px;
  padding-right: 22px;
}
.header__navigation-menu-list-link_fourth {
  padding-left: 20px;
  padding-right: 20px;
}
.header__navigation-menu-list-item {
  text-transform: uppercase;
  font: 16.5px HelveticaLT;
  text-align: center;
}
.header__inner-header {
  display: flex;
  max-width: 1000px;
  min-width: 640px;
  margin: 0 auto;
  justify-content: space-between;
}
@media only screen and (max-width: 800px) {
  .header__inner-header {
    flex-direction: column;
  }
}
.logo {
  width: 160px;
}
@media only screen and (max-width: 800px) {
  .logo {
    width: 100%;
  }
}
p.header__logo-title {
  text-transform: capitalize;
  font: 14.5px Arial;
}
.navigation-menu {
  box-sizing: border-box;
  width: 350px;
  display: flex;
}
@media only screen and (max-width: 800px) {
  .navigation-menu {
    width: 100%;
  }
}
.main-page-title {
  min-width: 640px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  min-height: 225px;
  background: #fff url("../img/title_quotes.png") no-repeat 49.5% 72px;
  position: relative;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 92px;
}
@media only screen and (max-width: 700px) {
  .main-page-title {
    background-position: 49.5% 72px;
  }
}
.main-page-title__text {
  font: 22.5px Cambria;
  font-style: italic;
  opacity: 1;
  text-align: center;
  margin-top: 133px;
  padding-left: 37%;
  padding-right: 37%;
  line-height: 1.6;
}
@media only screen and (max-width: 700px) {
  .main-page-title__text {
    padding-left: 30%;
    padding-right: 33%;
  }
}
@media only screen and (max-width: 650px) {
  .main-page-title__text {
    padding-left: 32%;
    padding-right: 35%;
  }
}
.main-page-title__image {
  background: url("../img/pencil.png") no-repeat 0px -40px;
  width: 104px;
  height: 50px;
  position: absolute;
  bottom: -51px;
  left: 46.1%;
}
@media only screen and (max-width: 1100px) {
  .main-page-title__image {
    left: 44%;
  }
}
@media only screen and (max-width: 1000px) {
  .main-page-title__image {
    left: 43.5%;
  }
}
@media only screen and (max-width: 900px) {
  .main-page-title__image {
    left: 43%;
  }
}
@media only screen and (max-width: 800px) {
  .main-page-title__image {
    left: 42%;
  }
}
@media only screen and (max-width: 700px) {
  .main-page-title__image {
    left: 42%;
  }
}
@media only screen and (max-width: 650px) {
  .main-page-title__image {
    left: 40%;
  }
}
.content {
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
  z-index: 10;
  width: 1024px;
  box-sizing: border-box;
  padding: 0 15px 0 39px;
}
.content__position {
  margin: 0 auto;
  margin-top: 93px;
  margin-bottom: 103px;
}
@media only screen and (max-width: 1024px) {
  .content__position {
    width: 550px;
  }
}
@media only screen and (max-width: 1000px) {
  .content__position {
    margin-left: 210px;
  }
}
@media only screen and (max-width: 900px) {
  .content__position {
    margin-left: 160px;
  }
}
@media only screen and (max-width: 800px) {
  .content__position {
    margin-left: 120px;
  }
}
@media only screen and (max-width: 700px) {
  .content__position {
    margin-left: 80px;
  }
}
@media only screen and (max-width: 650px) {
  .content__position {
    margin-left: 30px;
  }
}
.content__title {
  width: 100%;
}
.content__title-text {
  width: 100%;
  top: 0;
  font: 22.5px Cambria;
  font-style: italic;
  margin-left: 22px;
  margin-bottom: 21px;
}
.content__item {
  width: 208px;
  height: 205px;
  margin: 17px 17px 15px 17px;
  background-color: antiquewhite;
}
.content__item:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSans/PTSans.ttf') format('truetype');
}
.footer {
  background-color: #d45e5e;
  width: 100%;
  color: #fff;
  font: 12.5px PTSans;
  max-width: 100%;
  min-width: 640px;
}
.footer__inner-footer {
  max-width: 920px;
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 37px;
}
@media screen and (max-width: 1000px) {
  .footer__inner-footer {
    flex-direction: column;
  }
}
.footer__inner-footer-left-section {
  box-sizing: border-box;
  width: 68%;
}
@media only screen and (max-width: 1000px) {
  .footer__inner-footer-left-section {
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 0 100px;
  }
}
.footer__inner-footer-left-section-author {
  position: relative;
  display: flex;
}
.footer__inner-footer-left-section-author-photo {
  position: absolute;
  bottom: -11px;
  left: 2px;
  border: 7px solid #fff;
  width: 123px;
  height: 123px;
}
.footer__inner-footer-left-section-author-description {
  margin: 17px 0 0 166px;
}
.footer__inner-footer-left-section-author-description-name {
  font: 24.5px Cambria;
  font-style: italic;
}
.footer__inner-footer-left-section-author-description-address {
  margin-top: 8px;
  padding-left: 22px;
  background: url("../img/location_icon.png") no-repeat 0 0;
}
.footer__inner-footer-left-section-author-socials {
  display: flex;
  position: absolute;
  right: 62px;
  top: 28px;
}
@media only screen and (max-width: 800px) {
  .footer__inner-footer-left-section-author-socials {
    display: none;
  }
}
.footer__inner-footer-left-section-author-socials-twitter {
  margin-right: 22px;
}
@media only screen and (max-width: 800px) {
  .footer__inner-footer-left-section-author-socials-twitter {
    margin-right: 150px;
  }
}
.footer__inner-footer-left-section-author-text {
  line-height: 1.6;
  box-sizing: border-box;
  padding-right: 10px;
  margin-top: 36px;
}
@media only screen and (max-width: 1000px) {
  .footer__inner-footer-left-section-author-text {
    margin-bottom: 50px;
  }
}
.footer__inner-footer-left-section-hidden-socials {
  margin-top: 50px;
  margin-left: 100px;
  display: none;
}
@media only screen and (max-width: 1000px) {
  .footer__inner-footer-left-section-hidden-socials {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 800px) {
  .footer__inner-footer-left-section-hidden-socials {
    display: flex;
  }
}
.footer__inner-footer-left-section-hidden-socials-twitter {
  margin-right: 200px;
  position: relative;
}
@media only screen and (max-width: 800px) {
  .footer__inner-footer-left-section-hidden-socials-twitter:after {
    content: "Dribbble";
    position: absolute;
    bottom: 15px;
    left: 50px;
  }
}
.footer__inner-footer-left-section-hidden-socials-dribbble {
  position: relative;
}
@media only screen and (max-width: 800px) {
  .footer__inner-footer-left-section-hidden-socials-dribbble:after {
    content: "Dribbble";
    position: absolute;
    bottom: 15px;
    left: 70px;
  }
}
.footer__inner-footer-right-section {
  width: 32%;
  height: 100%;
  box-sizing: border-box;
  padding: 57px 0 0 36px;
}
@media only screen and (max-width: 1000px) {
  .footer__inner-footer-right-section {
    margin: 0 auto;
  }
}
.footer__inner-footer-right-section-name {
  font: 24.5px Cambria;
  margin-bottom: 23px;
}
.footer__inner-footer-right-section-list {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1000px) {
  .footer__inner-footer-right-section-list {
    transform: scale(1.5);
  }
}
.footer__inner-footer-right-section-list-item {
  font: 18.5px PTSans;
  margin-bottom: 1px;
  display: flex;
}
.footer__inner-footer-right-section-list-item-span {
  width: 28px;
}
.footer__inner-footer-right-section-list-item-progress-bar {
  margin-top: 8px;
  height: 10px;
  width: 200px;
  background-color: #e27878;
}
.footer__inner-footer-right-section-list-item-progress-bar-filled {
  background-color: black;
  height: 100%;
}
.footer__inner-footer-right-section-list-item-progress-bar-filled_ps {
  width: 54%;
}
.footer__inner-footer-right-section-list-item-progress-bar-filled_ai {
  width: 78%;
}
.footer__inner-footer-right-section-list-item-progress-bar-filled_bs {
  width: 28%;
}
.footer__inner-footer-right-section-list-item-progress-bar-filled_cs {
  width: 92%;
}
.footer__footer-bottom {
  height: 40px;
  background-color: #282828;
}
.footer__footer-bottom-inner {
  display: flex;
  flex-direction: row-reverse;
  width: 52%;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .footer__footer-bottom-inner {
    width: 90%;
  }
}
.footer__footer-bottom-inner-copyright {
  line-height: 3;
}
* {
  transition: all 1s;
}
body {
  margin: 0;
  padding: 0;
  font-family: Cambria;
  color: #404040;
}
ul,
ul li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:visited {
  color: #404040;
}
