@font-face {
  font-family: 'BesasNeue';
  src: url('../fonts/BebasNeue/BebasNeue Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'HelveticaLT';
  src: url('../fonts/Helvetica/HelveticaLT.ttf') format('truetype');
}
.header {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 800px) {
  .header {
    flex-direction: column;
  }
}
.logo {
  width: 160px;
}
@media only screen and (max-width: 800px) {
  .logo {
    width: 100%;
  }
}
.header__logo {
  margin: 34px 0 0 150px;
  text-decoration: none;
}
@media only screen and (max-width: 1000px) {
  .header__logo {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 800px) {
  .header__logo {
    margin-left: 0;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d0d0d0;
  }
}
.header__logo-title {
  font: 36.5px BesasNeue;
  font-weight: bold;
}
p.header__logo-title {
  text-transform: capitalize;
  font: 14.5px Arial;
}
.navigation-menu {
  width: 350px;
}
@media only screen and (max-width: 800px) {
  .navigation-menu {
    display: flex;
    width: 100%;
  }
}
.header__navigation-menu {
  margin-right: 125px;
}
@media only screen and (max-width: 1200px) {
  .header__navigation-menu {
    margin-right: 100px;
  }
}
@media only screen and (max-width: 1000px) {
  .header__navigation-menu {
    margin-right: 130px;
  }
}
.header__navigation-menu-list {
  margin: 0 auto;
  display: flex;
}
.header__navigation-menu-list-item {
  text-transform: uppercase;
  font: 16.5px HelveticaLT;
  padding: 49px 12px 7px 12px;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .header__navigation-menu-list-item {
    padding-top: 10px;
  }
}
.header__navigation-menu-list-item_second {
  padding-left: 20px;
  padding-right: 22px;
}
.header__navigation-menu-list-item_fourth {
  padding-left: 20px;
  padding-right: 20px;
}
.header__navigation-menu-list-link {
  text-decoration: none;
}
.header__navigation-menu-list-link_active {
  color: #ffffff;
  background-color: #d45e5e;
}
.header__navigation-menu-list-link_active:visited {
  color: #ffffff;
}
.main-page-title {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  min-height: 225px;
  background: #fff url("../img/title_quotes.png") no-repeat 49.5% 72px;
  position: relative;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 92px;
}
.main-page-title__text {
  font: 22.5px Cambria;
  font-style: italic;
  opacity: 1;
  text-align: center;
  margin-top: 133px;
  padding-left: 29%;
  padding-right: 29%;
  line-height: 1.6;
}
.main-page-title__image {
  background: url("../img/pencil.png") no-repeat 0px -40px;
  width: 104px;
  height: 50px;
  position: absolute;
  bottom: -51px;
  left: 44.2%;
}
.content {
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
  min-height: 500px;
  z-index: 10;
  width: 1024px;
}
.content__position {
  margin: 0 0 0 167px;
}
.content__title {
  width: 100%;
}
.content__title-text {
  width: 100%;
  top: 0;
  left: 19px;
  font: 22.5px Cambria;
  font-style: italic;
  margin-left: 22px;
  margin-bottom: 20px;
}
.content__item {
  width: 208px;
  height: 205px;
  margin: 17px;
}
* {
  transition: all 1s;
}
body {
  margin: 0;
  padding: 0;
  font-family: Cambria;
  color: #404040;
}
ul,
ul li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:visited {
  color: #404040;
}
.wrapper {
  background-color: transparent;
  width: 1280px;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
}
@media only screen and (max-width: 1100px) {
  .wrapper {
    width: 1100px;
  }
}
@media only screen and (max-width: 1000px) {
  .wrapper {
    width: 1000px;
  }
}
@media only screen and (max-width: 900px) {
  .wrapper {
    width: 900px;
  }
}
@media only screen and (max-width: 800px) {
  .wrapper {
    width: 800px;
  }
}
@media only screen and (max-width: 700px) {
  .wrapper {
    width: 700px;
  }
}
@media only screen and (max-width: 650px) {
  .wrapper {
    width: 640px;
  }
}
