.main-page-title {
  min-width: 640px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  min-height: 225px;
  background: #fff url("../img/title_quotes.png") no-repeat 49.5% 72px;
  position: relative;
  box-shadow: 0 1px 0 rgba(0,0,0, 0.1);
  margin-bottom: 92px;
  @media only screen and (max-width: 700px) {
    background-position: 49.5% 72px;
  }
  &__text {
    font: 22.5px Cambria;
    font-style: italic;
    opacity: 1;
    text-align: center;
    margin-top: 133px;
    padding-left: 37%;
    padding-right: 37%;
    line-height: 1.6;
    @media only screen and (max-width: 700px) {
      padding-left: 30%;
      padding-right: 33%;
    }
    @media only screen and (max-width: 650px) {
      padding-left: 32%;
      padding-right: 35%;
    }
  }
  &__image {
    background: url("../img/pencil.png") no-repeat 0px -40px;
    width: 104px;
    height: 50px;
    position: absolute;
    bottom: -51px;
    left: 46.1%;
    @media only screen and (max-width: 1100px) {
      left: 44%;
    }
    @media only screen and (max-width: 1000px) {
      left: 43.5%;
    }
    @media only screen and (max-width: 900px) {
      left: 43%;
    }
    @media only screen and (max-width: 800px) {
      left: 42%;
    }
    @media only screen and (max-width: 700px) {
      left: 42%;
    }
    @media only screen and (max-width: 650px) {
      left: 40%;
    }
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
  z-index: 10;
  width: 1024px;
  box-sizing: border-box;
  padding: 0 15px 0 39px;
  &__position {
    margin: 0 auto;
    margin-top: 93px;
    margin-bottom: 103px;
    @media only screen and (max-width: 1024px) {
      width: 550px;
    }
    @media only screen and (max-width: 1000px) {
      margin-left: 210px;
    }
    @media only screen and (max-width: 900px) {
      margin-left: 160px;
    }
    @media only screen and (max-width: 800px) {
      margin-left: 120px;
    }
    @media only screen and (max-width: 700px) {
      margin-left: 80px;
    }
    @media only screen and (max-width: 650px) {
      margin-left: 30px;
    }
  }
  &__title {
    width: 100%;
    &-text {
      width: 100%;
      top: 0;
      font: 22.5px Cambria;
      font-style: italic;
      margin-left: 22px;
      margin-bottom: 21px;
    }
  }
  &__item {
    width: 208px;
    height: 205px;
    margin: 17px 17px 15px 17px;
    background-color: antiquewhite;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
    }
  }
}