@font-face{
  font-family: 'BesasNeue';
  src: url('../fonts/BebasNeue/BebasNeue Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'HelveticaLT';
  src: url('../fonts/Helvetica/HelveticaLT.ttf') format('truetype');
}

.header {
  max-width: 100%;
  min-width: 640px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 800px) {
    flex-direction: column;
    width: 800px;
  }
  @media screen and (max-width: 650px) {
    min-width: 640px;
  } &__logo {
  margin: 34px 0 0 150px;
  text-decoration: none;
  box-sizing: border-box;
  @media only screen and (max-width: 1000px) {
    margin-left: 100px;
  }
  @media only screen and (max-width: 800px) {
    margin-left: 0;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d0d0d0;
  } &-title {
    font: 36.5px BesasNeue;
    font-weight: bold;
  }
} &__navigation-menu {
          max-width: 1200px;
          min-width: 640px;
          margin-right: -6px;
          @media only screen and (max-width: 1200px) {
            margin-right: 100px;
          }
          &-list {
            margin: 0 auto;
            display: flex;
            height: 76px;
            @media screen and (max-width: 800px) {
              height: 35px;
            }
              &-link {
                text-decoration: none;
                padding: 49px 13px 7px 12px;
                margin: 0 4px;
                display: block;
                color: #404040;
                @media screen and (max-width: 800px) {
                  margin: 0 20px;
                  padding: 10px 20px;
                }
                &_active {
                  color: #ffffff;
                  background-color: #d45e5e;
                  &:visited {
                    color: #ffffff;
                  }
                }
              }

            &-link {

              &_second {
                padding-left: 20px;
                padding-right: 22px;
              }
              &_fourth {
                padding-left: 20px;
                padding-right: 20px;
              }
            }
            &-item {
              text-transform: uppercase;
              font: 16.5px HelveticaLT;
              text-align: center;
              @media only screen and (max-width: 800px) {

              }

            }
          }

        }
}

.logo {
  width: 160px;
  @media only screen and (max-width: 800px) {
    width: 100%;
  }
}


p.header__logo-title {
  text-transform: capitalize;
  font: 14.5px Arial;
}

.navigation-menu {
  box-sizing: border-box;
  width: 350px;
  display: flex;
  @media only screen and (max-width: 800px) {
    width: 100%;
  }
}