@import url("_header.less");
@import url("_content.less");
@import url("_footer.less");
@body-text-color: #404040;

* {
  transition: all 1s;
}

body {
    margin: 0;
    padding: 0;
    font-family: Cambria;
    color: @body-text-color;
}

ul, ul li, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:visited {
    color: @body-text-color;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  @media only screen and (max-width: 1200px) {
    width: 1200px;
  }
  @media only screen and (max-width: 1100px) {
    width: 1100px;
  }
  @media only screen and (max-width: 1000px) {
    width: 1000px;
  }
  @media only screen and (max-width: 900px) {
    width: 900px;
  }
  @media only screen and (max-width: 800px) {
    width: 800px;
  }
  @media only screen and (max-width: 700px) {
    width: 700px;
  }
  @media only screen and (max-width: 650px) {
    width: 640px;
  }
}